@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #060A24;
}
:root {
    font-size: 16px;
}
.flex {
    display: flex;
}
li, p, .button {
    font-family: 'IBM Plex Mono', monospace;
}
.title, h2, span {
    font-family: 'IBM Plex Sans', sans-serif;
}
li, p {
    font-weight: 600;
}
header, nav.desktop-menu ul, .icons-container, footer, .info-container, .iframe-container div, .aboutus-container {
    justify-content: space-between;
}
header, .iframe-container, .info-container div.flex, .lastnews, footer {
    align-items: center;
}
li, .button, .info-container span, .lastnews h2 {
    text-align: center;
}
.title, .iframe-container {
    flex-wrap: wrap;
}
.info-container div.flex, .aboutus, .guests, .info, .lastnews {
    flex-direction: column;
}
.episodes, .lastnews {
    background: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}
.info-container	span, .button {
    font-weight: bolder;
}
.episodes h2:first-child, .lastnews h2 {
    font-weight: 400;
}
.hello-world p, .button {
    line-height: 24px;
}
.episodes h2:first-child, .aboutus h2, .guests h2, .info h2, .lastnews h2 {
    font-size: 3rem;
}
.episodes h2:first-child, .lastnews h2, div.button:hover {
    color: #FFFFFF;
}
.desktop-menu {
    width: 482px;
}
.mobile-menu {
    display: none;
}
header {
    padding: 22px 6.944vw;
}
li {
    list-style-type: none;
    line-height: 28px;
}
.title {
    font-size: 4rem;
}
.hello-world {
    padding: 120px 0 0 13.88vw;
}
h1 span:first-of-type {
    padding: 0 1.388vw;
    text-decoration: line-through;
}
h1 span:last-of-type {
    color: #0000EC;
}
.hello-world p {
    width: 628px;
    margin-bottom: 56px;
}
.button {
    display: inline-block;
    background-color: #00F3BB;
    height: 56px;
    padding: 16px 59px;
}
li[style] a:hover{
    text-decoration: line-through;
    color: #00F3BB;
}
li[style] a:active {
    color: #060a246e;
}
.episodes {
    padding-top: 191px;
    height: 1042.6px;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
}
.episodes h2:first-child, .aboutus-container img {
    margin-left: 13.88vw;
}
.iframe-container {
    height: 536px;
    margin: 26px 6.94vw 0 6.94vw;
    justify-content: space-evenly;
}
.iframe-container div {
    width: 86.11vw;
}
.iframe-container div:first-of-type {
    align-self: flex-start;
}
.iframe-container div:last-of-type {
    align-self: flex-end;
}
iframe {
    width: 40.55vw;
}
.aboutus-container img {
    position: relative;
    bottom: 168.6px;
    width: 457.6px;
    height: 700px;
}
.aboutus {
    height: fit-content;
    margin-top: 20.01px;
    margin-right: 17.78vw;
}
.aboutus h2 {
    margin-bottom: 24px;
}
.aboutus p {
    width: 32.22vw;
}
.aboutus p:nth-child(2) {
    margin-bottom: 10px;
}
.guests {
    margin-top: -64px;
}
.guests h2 {
    margin: 0 0 36px 13.88vw;
}
.img-container img{
    width: 33.33%;
}
.info {
    padding: 0 13.00vw 34px;
}
.info h2 {
    margin: 64px 0 56px 0;
}
.info-container	span {
    width: 220px;
    padding-top: 29px;
    font-size: 1.5rem;
}
.lastnews {
    height: 518px;
    clip-path: polygon(0% 25%, 100% 0%, 100% 100%, 0% 100%);
    justify-content: center;
}
.lastnews h2 {
    margin-bottom: 36px;
}
footer {
    padding: 36px 6.94vw 31px;
    background-color: white;
}
.icons-container {
    width: 234px;
}
.icons-container svg {
    width: 18px;
    height: 28px;
}
div.button:hover {
    cursor: pointer;
    background: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}
svg:hover {
    fill: #00F3BB;
}

@media screen and (max-width: 1020px) {
    .desktop-menu, [type="checkbox"] {
        display: none;
    }
    .burger-container {
        position: relative;
        width: 35px;
        height: 35px;
        padding: 1px;
    }
    .line {
        background: black;
        height: 9%;
        width: 75%;
        position: absolute;
        top: 50%;
        left: 12.5%;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
    .top-line {
        top: 25%;
    }
    .low-line {
        top: 75%;
    }
    .custom-checkbox:checked + label .burger-container .middle-line {
        opacity: 0;
    }
    .custom-checkbox:checked + label .burger-container .top-line {
        top: 50%;        
        transform:  rotate(45deg);
    }
    .custom-checkbox:checked + label .burger-container .low-line {
        top: 50%; 
        transform: rotate(-45deg);  
    }
    .mobile-menu {
        display: flex;
        justify-content: flex-end;
        width: 100vw;
    }
    div.slide-menu {
        padding: 16px;
        width: 100vw;
        position: fixed;
        top: 55px;
        left: 100vw;
        background-color: #0000EC;
        transition: all 1s ease;
    }
    #burger-menu:checked ~ .slide-menu {
        transform: translateX(-100vw);
    }
    div.slide-menu ul {
        height: 224px;
        justify-content: space-between;
        align-items: flex-start;
    }
    div.slide-menu ul li a {
        color: #FFFFFF;
        font-weight: lighter;
    }
    .iframe-container div.flex, iframe, .aboutus-container img, div.aboutus p, div.icons-container {
        width: 100%;
    }
    header.flex {
        padding: 10px 16px;
    }
    .hello-world, .aboutus-container, .iframe-container div.flex, .img-container, .info-container, .lastnews, footer, div.slide-menu ul {
        flex-direction: column;
    }
    .title, .episodes h2:first-child, div.aboutus h2, section.guests h2:first-child, section.info h2, section.lastnews h2 {
        font-size: 2.25rem;
    }
    .episodes h2:first-child, .iframe-container, .aboutus-container img:first-child, .aboutus-container div.aboutus, div.aboutus h2, section.guests h2:first-child, section.info h2 {
        margin: 0;
    }
    .hello-world p, div.aboutus p, footer.flex p {
        font-size: 0.875rem;
    }
    .episodes, section.lastnews {
        padding: 0 16px;
    }
    .hello-world {
        padding: 29px 16px 24px;
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .title {
        width: 69.38vw;
        padding-bottom: 16px;
    }
    .hello-world p {
        width: 90vw;
        padding-bottom: -20px;
    }
    .episodes {
        height: 1250px;
        clip-path: polygon(0% 3%, 100% 0%, 100% 97%, 0% 100%);
    }
    .episodes h2:first-child {
        padding: 64px 0 21px;
    }
    .iframe-container {
        height: 961px;
    }
    .iframe-container div.flex {
        height: 475px;
    }
    .aboutus-container img {
        height: 100%;
    }
    .aboutus-container img:first-child {
        bottom: 80px;
    }
    .aboutus-container div.aboutus {
        margin-top: -53px;
        padding: 0 16px 54px;
    }
    div.aboutus h2 {
        padding-bottom: 8px;
    }
    section.guests h2:first-child {
        padding: 54px 16px 14px;
    }
    div.img-container img {
        width: 100vw;
    }
    section.info {
        padding: 48px 16px 42px;
    }
    section.info div.info-container {
        height: 886px;
        padding-top: 24px;
        justify-content: space-evenly;
    }
    div.flex span {
        padding-top: 13px;
    }
    section.lastnews {
        clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
        height: 341px;
    }
    section.lastnews div.button {
        padding: 13px 43px;
        line-height: 30px;
    }
    footer.flex {
        padding: 24px 45px;
    }
    footer.flex p {
        margin-bottom: 16px;
    }
    div.icons-container svg {
        width: 16px;
    }
}